Host aus-slack-master.tplab.tippingpoint.com
            User txn04-slack-lab
            IdentityFile /root/.ssh/SlackSSH-aus-ts.key
 	 	    StrictHostKeyChecking no

Host txn04-slack-master.tplab.tippingpoint.com
            User txn04-slack-lab
            IdentityFile /root/.ssh/SlackSSH-aus-ts.key
 	 	    StrictHostKeyChecking no
